@page
{
margin:1em;
}
body
{
margin-right:1.5em;
}
img
{
max-width:98%;
}
p.image
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
p.imager
{
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
margin-right:0em;
}
p.equation
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
.head
{
font-family:sans-serif;
font-weight:bold;
font-size:small;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.front
{
font-family:sans-serif;
font-weight:normal;
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.toc1
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:small;
margin-top:1em;
margin-bottom:0em;
text-align:left;
margin-left:1.2em;
text-indent:-1em;
}
.tock
{
font-family:"Times New Roman", serif;
font-style:italic;
font-size:small;
margin-top:0em;
margin-bottom:1em;
text-align:left;
margin-left:1.2em;
text-indent:0em;
}
.tockka
{
font-family:"Times New Roman", serif;
font-style:italic;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:1.3em;
text-indent:0em;
}
.tocaa
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:small;
margin-top:1em;
margin-bottom:-0.5em;
text-align:left;
margin-left:1.4em;
text-indent:-1.4em;
}
.toca
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:small;
margin-top:0.1em;
margin-bottom:0em;
text-align:left;
margin-left:1em;
text-indent:-0.8em;
}
.toc2
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:2.5em;
text-indent:-1.5em;
}
.toc1a
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-style:italic;
font-size:small;
margin-top:0em;
margin-bottom:0.5em;
text-align:left;
margin-left:3.2em;
text-indent:-2.1em;
}
.toc3
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:4.9em;
text-indent:-2.3em;
}
.toc3a
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:5.1em;
text-indent:-2.1em;
}
.toc2a
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:5.8em;
text-indent:-2.7em;
}
.cpytxt
{
font-family:sans-serif;
font-weight:normal;
font-size:x-small;
margin-top:9em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.cpytxt-2
{
font-family:sans-serif;
font-weight:normal;
font-size:x-small;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
text-indent: 0em;
}
.indent
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}
.indent1
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}
.list
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:-1em;
}
.footnote
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-align:justify;
text-indent:-0.5em;
}
.footnote1
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:x-small;
margin-top:1em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-align:justify;
text-indent:-0.5em;
}
ol
{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left: 1em;
text-indent: 0em; 
}
ul
{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left: 1em;
text-indent: 0em; 
list-style-type: disc;
}
p
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.fcaption
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
font-style:italic;
margin-top:0em;
margin-bottom:1em;
padding-left:4.5em;
margin-right:0em;
text-align:left;
text-indent:-4.6em;
}
.tcaption
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
font-style:italic;
margin-top:1em;
margin-bottom:1em;
margin-left:4.5em;
margin-right:0em;
text-align:left;
text-indent:-4.6em;
}
.tab_cap
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
font-style:italic;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.halftitle
{
font-family:sans-serif;
font-weight:bold;
font-size:0.98em;
margin-top:4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.halftitle1
{
font-family:sans-serif;
font-weight:normal;
font-size:2.4em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h1
{
font-family:sans-serif;
font-weight:normal;
font-size:2.4em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h1-1
{
font-family:sans-serif;
font-weight:normal;
font-size:1.2em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h1-1a
{
font-family:sans-serif;
font-weight:normal;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.pub
{
font-family:sans-serif;
font-weight:normal;
font-size:small;
margin-top:20em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h2a
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:x-large;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
padding-top:1em;
border-top:0.1em solid #000000;
}
.h2ak
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:x-large;
margin-top:2em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
padding-top:1em;
padding-bottom:1em;
border-top:0.1em solid #000000;
border-bottom:0.1em solid #000000;
}
.h2
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:x-large;
margin-top:2em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
padding:1em;
border-top:0.1em solid #000000;
border-bottom:0.1em solid #000000;
}
.h3
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:large;
margin-top:1em;
margin-bottom:0.2em;
margin-left:1.6em;
margin-right:0em;
text-align:left;
text-indent:-1.6em;
}
.h4
{
font-family:"Times New Roman", serif;
font-style:italic;
font-weight:normal;
font-size:large;
margin-top:1em;
margin-bottom:0.2em;
margin-left:2.2em;
margin-right:0em;
text-align:left;
text-indent:-2.2em;
}
.h6
{
font-family:"Times New Roman", serif;
font-style:normal;
font-weight:bold;
font-size:small;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h4a
{
font-family:"Times New Roman", serif;
font-style:italic;
font-weight:normal;
font-size:large;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.h5
{
font-family:"Times New Roman", serif;
font-weight:bold;
font-size:medium;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
/* Character Style Definitions */
a
{
text-decoration:none;
color: #006eb2;
}
.ref
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:-1.6em;
}
.ref1
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:-2em;
}
.ref2
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2.2em;
margin-right:0em;
text-align:justify;
text-indent:-2.7em;
}
img.mid
{
vertical-align: middle;
}
table
{
border-collapse: collapse;
margin-top:1em;
margin-bottom:2em;
margin-bottom:0.2em;
font-size:small;
}
.primary
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.primary1
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.secondary
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.teritory
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.hang
{
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
padding-left:1.5em;
margin-right:0em;
text-align:left;
text-indent:-1.5em;
}
.noindent
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.noindentk
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.noindent1
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.noindent1t
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color: #E5E5E5;
padding:0.2em;
}
.noindentp
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0.8em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.noindentt
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color: #E5E5E5;
padding:0.2em;
}
li
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
td
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.authorc
{
font-size:large;
font-weight:normal;
font-style:italic;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
padding-bottom:1em;
border-bottom:0.1em solid #000000;
}
div.box
{
padding: 1em;
margin-top:1em;
margin-bottom:1em;
background-color: #E5E5E5;
}
div.box1
{
margin-top:1em;
margin-bottom:1em;
}
div.block
{
margin:1em;
}
.aff
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-0.5em;
}
.h2p
{
font-size:x-large;
font-weight:normal;
margin-top:4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
}
.indentb
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}
td.t-hang
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
padding-left:1em;
margin-right:0em;
text-align:left;
text-indent:-1em;
}

.right_k
{
	float: right; 
	text-align: right;
	text-indent: 0;
	margin-top:0em;
	vertical-align: middle;
}
p.abs
{
font-family:sans-serif;
font-size:small;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
p.abs1
{
font-family:sans-serif;
font-size:small;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.epi
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:8em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.ded
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}
.h4h
{
font-family:"Times New Roman", serif;
font-style:italic;
font-weight:normal;
font-size:large;
margin-top:1em;
margin-bottom:0.5em;
margin-left:3em;
margin-right:0em;
text-align:left;
text-indent:-3em;
}
.fcaption_1
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
font-style:italic;
margin-top:0em;
margin-bottom:1em;
margin-left:5.4em;
margin-right:0em;
text-align:left;
text-indent:-5.4em;
}
.tcaption_1
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
font-style:italic;
margin-top:1em;
margin-bottom:1em;
margin-left:4.8em;
margin-right:0em;
text-align:left;
text-indent:-4.8em;
}
.indenti
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}
ul.bull
{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left: -1em;
text-indent: 0em; 
list-style-type: disc;
}
table.wid
{
border-collapse: collapse;
margin-top:1em;
margin-bottom:2em;
margin-bottom:0.2em;
font-size:small;
width:100%;
}


p.imagec
{
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.box2
{
margin-top:1em;
margin-bottom:1em;
padding-top: 0.2em;
padding-bottom: 0.1em;
border-top: 1px solid black;
border-bottom: 1px solid black;
}
math { color: red; }




.toc0
{
font-family:"Times New Roman", serif;
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:1em;
text-indent:0em;
}
.toc-aut
{
font-family:"Times New Roman", serif;
font-size:small;
font-style:italic;
margin-top:0em;
margin-bottom:0.8em;
text-align:left;
margin-left:1em;
text-indent:0em;
}
table.table
{
border:1pt solid black;
border-collapse: collapse;
margin-top:1em;
margin-bottom:2em;
font-size:small;
width:100%;
}
table.table td
{
border:1pt solid black;
border-collapse: collapse;
margin-top:1em;
margin-bottom:2em;
font-size:small;
}
th
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;
}
.center
{
font-family:"Times New Roman", serif;
font-weight:normal;
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}
.right
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
padding-left:0em;
margin-right:0em;
text-align:right;
text-indent:0em;
}
