/*----------------stylesheet defination-------------------*/
@font-face
{
font-family:"HelveticaRegular";
src:url(../fonts/HelveticaRegular.otf);
font-style:normal;
font-weight:normal;
}

@font-face
{
font-family:"MyriadProSemibold";
src:url(../fonts/MyriadProSemibold.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"HelveticaCondensedBold";
src:url(../fonts/HelveticaCondensedBold.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"UtopiaStdRegular";
src:url(../fonts/UtopiaStdRegular.otf);
font-style:normal;
font-weight:normal;
}
@font-face
{
font-family:"HelveticaCondensedOblique";
src:url(../fonts/HelveticaCondensedOblique.otf);
font-style:italic;
font-weight:bold;
}
@font-face
{
font-family:"MyriadProRegular";
src:url(../fonts/MyriadProRegular.otf);
font-style:normal;
font-weight:normal;
}
@font-face
{
font-family:"UtopiaStdBold";
src:url(../fonts/UtopiaStdBold.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"MyriadProBold";
src:url(../fonts/MyriadProBold.otf);
font-style:normal;
font-weight:bold;
}





body {
margin-left: 1em;
margin-right: 1em;
hyphens:none;
-webkit-hyphens:none;
-webkit-hyphenate-character:none;
-webkit-hyphenate-limit-after:none;
-webkit-hyphenate-limit-before:none;
-moz-hyphens:none;
}

.li
{
margin-top:0.2em;
padding-left: 0.2em;
}


.bm-title 
{
font-family:"MyriadProSemibold";    
text-align: center;
font-weight: bold;
font-size: 180%;
line-height: 1.3;
margin: 3em auto;
padding:0.5em;
margin-left:2em;
margin-right:2em;
color: #333333;
background-color: #ffffff;
border-bottom: 0.3em solid #dddddd;
}

.box
{
margin-top: 5em;
margin-bottom: 4em;
padding: 5em 0em 1em 0em;
background-color: #E4E5E5;
box-shadow:10px 10px 0px 0px #C4C5C6;
}
h1.htitle
{
font-family:"HelveticaCondensedBold";
position: absolute;
margin-top: -12.5em;
right: 1em;
width:10%;
height: 2em;
line-height: 2em;
text-align: center;
font-size: 300%;
font-weight: bold;
color: #ffffff;
background-color: #808082;
border-radius: 100%;
border: solid 4px #ffffff;
box-shadow:0px 0px 5px 5px #C4C5C6;
padding: 0em 0.25em 0em 0.25em;
}

.title 
{
font-family:"MyriadProSemibold";
font-size: 200%;
font-weight: bold;
line-height: 1.4;
margin-top:0em;
text-align:center;
}
h2.h2 
{
font-family:"HelveticaCondensedBold";    
text-align: center;
font-size: 110%;
font-weight: bold;
color: #ffffff;
background-color: #737577;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
text-transform:uppercase;
}

h3.h3 {
font-family:"HelveticaCondensedBold";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
border-bottom: 3px solid #737577;
padding-bottom:0.5em;
text-transform:uppercase;
}

h4.h4 {
font-family:"HelveticaCondensedBold";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
}
h3.h4a {
font-family:"HelveticaCondensedBold";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
}

h5.h5 {
font-family:"HelveticaCondensedOblique";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
font-style:italic;
}


.noindent
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.noindent-1
{
font-family:"UtopiaStdRegular";
margin-top: 1em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.indent
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:100%;
text-align: left;
text-indent: 1.5em;
}



.squ-para
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 1.7em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}
.squ-para-1
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5.2em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}

.square
{
width: 1.5em;
display: inline-block;
text-align: left;
text-indent: 0em;
font-weight: bold;
}

.hyphen-para
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}

.hyphen-para-1
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 7em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}

.hyphen
{
width: 1.5em;
display: inline-block;
text-align: left;
text-indent: 0em;
font-weight: bold;
}

.hypn-int
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:1.5em;
}

.int
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 4em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:1.5em;
}

.int-up
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 7em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:1.5em;
}

.fig 
{
text-align: center;
margin-top: 1em;
margin-bottom: 1em;
}

.caption
{
font-family:"MyriadProRegular";
font-size: 90%;
text-align: justify;
margin-top: 0.5em;
margin-bottom: 0em;
margin-left:-3em;
border-bottom:1px solid;
padding:0.5em;
}

.number
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:1.8em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}

.number-1
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:5.4em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}

.number-span
{
float: left;
margin: 0 0 0 -1.8em;
}

.num-int
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 1.8em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:1.5em;
}

.quote
{
font-family:"UtopiaStdBold";
margin-top: 1em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.ans
{
font-family:"UtopiaStdRegular";
text-align: justify;
text-indent: 0em;
font-size: 100%;
margin-top: 0.2em;
margin-bottom: 0em;
margin-left:3.5em;
}

span.q-ans
{
float:left;
text-indent:-2.9em;
font-weight:bold;
}

.quote-1
{
font-family:"UtopiaStdRegular";
margin-top: 0.5em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.quote-g
{
font-family:"UtopiaStdRegular";
margin-top: 0.5em;
margin-bottom: 0em;
margin-left: 5.2em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.table
{
margin-top: 1em;
margin-bottom: 1em;
width: 100%;
border-collapse:collapse;
}

.top_tab-1
{
vertical-align: top;
padding:10px 10px 10px 10px ;
background-color: #737577;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.top_tab
{
vertical-align: top;
padding:10px 10px 10px 10px ;
border-top: 1px solid;
border-right: 1px solid;
background-color: #e1e1e1;
border-radius: 2px;
}
.top_tabs
{
vertical-align: top;
padding:10px 10px 10px 10px ;
border-top: 1px solid;
border-right: 1px solid #e1e1e1;
background-color: #e1e1e1;
border-radius: 2px;
}

.tab-caption
{
font-family:"MyriadProBold";
margin-top: 0em;
margin-bottom: 0em;
text-align:center;
color:#ffffff;
font-size:90%;
font-weight:bold;
}

.t-para{
font-family:"MyriadProRegular";
font-size: 90%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-indent: 0em;
text-align: left;
}


.top_tab-2
{
vertical-align: top;
padding:5px 5px 5px 5px ;
border-top: 1px solid;
border-right: 1px solid;
background-color: #bec0c2;
}
.top_tab-3
{
vertical-align: bottom;
padding:5px 5px 5px 5px ;
border-top: 1px solid;
border-right: 1px solid;
background-color: #bec0c2;
}

.top_tabs-2
{
vertical-align: top;
padding:5px 5px 5px 5px ;
border-top: 1px solid;
background-color: #bec0c2;
}
.top_tabss-2
{
vertical-align: bottom;
padding:5px 5px 5px 5px ;
border-top: 1px solid;
background-color: #bec0c2;
}

.bull
{
width: 1.5em;
display: inline-block;
text-align: left;
text-indent: 0em;
font-weight: bold;
}

.bull-para-1
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top:0em;
margin-bottom: 0em;
margin-left: 9em;
margin-right: 0em;
text-indent: -1.8em;
text-align: left;
}

.bull-para-2
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top:0em;
margin-bottom: 0em;
margin-left: 5em;
margin-right: 0em;
text-indent: -1.8em;
text-align: left;
}

.bull-para
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 2em;
margin-right: 0em;
text-indent: -1.8em;
text-align: left;
}

.tab-source
{
font-family:"MyriadProRegular";
margin-top: 0em;
margin-bottom: 0em;
text-align:left;
font-size:80%;
}

.line
{
margin-top:3em;
border-top:1px solid;
width:20%;
}

.footnote
{
font-family:"UtopiaStdRegular";
margin-top:2em;
margin-bottom:0em;
text-align:justify;
font-size:80%;
margin-left:1em;
text-indent:-0.5em;
}

.alpha-para-tab
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 2em;
margin-right: 0em;
text-indent: 0em;
text-align: left;
}

.alpha-span
{
float: left;
margin: 0 0 0 -1.8em;
}

.source {
text-indent:0em;
text-align:justify;
margin-top: 0em;
margin-bottom:0em;
font-family:"MyriadProRegular";
font-size: 85%;
}

.quote-3
{
font-family:"UtopiaStdRegular";
margin-top: 0.5em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.hyphen-para-2
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 10.5em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}


.number-2
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:7em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}


.hypn-int-1
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 1.7em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:0em;
}

.number-3
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}

.hypn-int-3
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5.3em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:0em;
}


.roman-para-1
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 7.2em;
margin-right: 0em;
text-indent:-1.9em;
text-align: justify;
}

.roman
{
width: 1.5em;
display: inline-block;
text-align: left;
text-indent: 0em;
font-weight: bold;
}

.hypn-int-2
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 7em;
margin-right: 0em;
font-size:100%;
text-align: justify;
text-indent:0em;
}


.quote-2
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 3.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}


.alpha-1
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:7.4em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}




.roman-para-2
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5.5em;
margin-right: 0em;
text-indent: -1.7em;
text-align: justify;
}

.quote-4
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 7.5em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}

.quote-5
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5.3em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}






h2.h3 {
font-family:"HelveticaCondensedBold";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
border-bottom: 3px solid #737577;
padding-bottom:0.5em;
text-transform:uppercase;
}

.box-a
{
display: block;
padding: 0.5em;
margin-top: 1em;
margin-bottom: 1em;
margin-left:5em;
margin-right:5em;
background-color: #e6e6e6;
border-radius:30px;
box-shadow:0px 0px 5px 6px #dddddd;
}

.alpha
{
font-family:"UtopiaStdRegular";
margin-top:0em;
margin-bottom:0em;
margin-left:3.4em;
margin-right:0em;
list-style-type:none;
font-size:100%;
text-align: justify;
}


h3.h4 {
font-family:"HelveticaCondensedBold";
text-align: left;
text-indent: 0em;
font-size: 110%;
margin-top: 1em;
font-weight:bold;
margin-bottom: 1em;
}


.roman-para-4
{
font-family:"UtopiaStdRegular";
font-weight: normal;
font-size: 100%;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5.2em;
margin-right: 0em;
text-indent:-1.9em;
text-align: justify;
}

.quote-7
{
font-family:"UtopiaStdRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 2em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}


.fm-title 
{
font-family:"MyriadProRegular";
text-align: center;
font-weight: bold;
font-size:110%;

}

.under
{
border-bottom:1px solid #000000;
padding-bottom:0.3em;
}


.toc-ch
{
font-family:"MyriadProBold";
font-weight: bold;
font-size: 120%;
margin-top: 1em;
margin-bottom: 0em;
margin-right: 0em;
text-indent: 0em;
text-align: left;
}


.toc-no
{
display: inline-block;
text-align: left;
text-indent: -1em;
margin-left:1em;
}


.toc-cha
{
font-family:"MyriadProRegular";
font-weight: normal;
font-size: 120%;
margin-top: 0.3em;
margin-bottom: 0em;
margin-left: 3.2em;
margin-right: 0em;
text-indent: -1.8em;
text-align: left;
}


.square-toc
{
width: 1.5em;
display: inline-block;
text-align: left;
text-indent: 0em;
font-weight: bold;
}

a {
text-decoration: none;
color: inherit;
}
sup {
font-size:75%;
line-height:75%;
}
sub {
font-size:75%;
line-height:75%;
}

.pagebreak {
page-break-before:always;
}
.break {
page-break-inside:avoid;
}

.underline {
text-decoration: underline;
}
.small {
font-variant: small-caps;
} 
.smallcap {
font-size:80%;
} 


ul.none
{
list-style-type: none;
padding: 0;
margin: 0;
}
ol.none
{
list-style-type: none;
padding: 0;
margin: 0;
}
img {
max-width: 70%;
height: auto;
overflow:scroll;
}
.bold{font-weight: bold;
}
.italic{font-style: italic;
}
.center {
text-align: center;
margin-top:0.2em;
margin-bottom:0em;
font-size:100%;
font-family:"UtopiaStdSemibold";
}
.centerf {
text-align: center;
margin-top:0.2em;
margin-bottom:0em;
font-size:100%;
font-family:"MyriadProRegular";
}
.center1 {
text-align: center;
margin-top: 1em;
margin-bottom: 0em;
font-size:100%;
font-family:"UtopiaStdRegular";
}

.copy {
text-indent:0em;
text-align:left;
font-size: 90%;
margin-top: 0em;
font-family: "HelveticaRegular";
margin-bottom:0em;
}

.copy1 {
font-weight: bold;
text-indent:0em;
text-align:justify;
font-size: 90%;
margin-top: 1em;
font-family: "HelveticaRegular";
margin-bottom:0;
}

.copy2 {
text-indent:0em;
text-align:justify;
font-size: 90%;
margin-top: 0.7em;
font-family: "HelveticaRegular";
margin-bottom:0;
}
.right-1
{
font-family:"MyriadProRegular";
text-indent:0em;
margin-top: 1em;
text-align:right;
margin-bottom:0em;
font-weight:bold;
}

.fig-1
{
text-align: left;
margin-top: 1em;
margin-bottom: 1em;
}

.noindentf
{
font-family:"MyriadProRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:100%;
text-align: justify;
}
.indentf
{
font-family:"MyriadProRegular";
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:100%;
text-align: left;
text-indent: 1.5em;
}

.right-1f
{
font-family:"MyriadProRegular";
text-indent:0em;
margin-top: 1em;
text-align:right;
margin-bottom:0em;
font-weight:bold;
}

.captionn
{
font-family:"MyriadProRegular";
font-size: 90%;
text-align: justify;
margin-top: 0em;
margin-bottom: 0em;
margin-left:-3em;
padding:0.2em;
}

.sourceb {
text-indent:0em;
text-align:justify;
margin-top: 0em;
margin-bottom:0em;
font-family:"MyriadProRegular";
font-size: 85%;
border-bottom:1px solid #000000;
}


.figb 
{
text-align: center;
margin-top: 1em;
margin-bottom: 0em;
}



.ind1
{
font-family: "UtopiaStdRegular";
line-height: 1.2em;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 5em;
margin-right: 0em;
text-indent: -5em;
font-size:90%;
text-align: justify;
}
.ind2
{
font-family: "UtopiaStdRegular";
line-height: 1.2em;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
font-size:90%;
text-align: justify;
}
.ind3
{
font-family: "UtopiaStdRegular";
line-height: 1.2em;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 3em;
margin-right: 0em;
font-size:90%;
text-align: justify;
}
.ind-hd
{
font-family:"MyriadProRegular";
line-height: 1em;
margin-top: 1.5em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
font-size:110%;
text-align: left;
font-weight: bold;
}

.sup
{
vertical-align: super;
font-size: 70%;
line-height: 60%;
}



.sub
{
vertical-align: subscript;
font-size: 70%;
line-height: 60%;
}


